{% extends 'users/layout.html' %} {% load static %} {% block title %} NBA {% endblock %} {% block body %} {% block btn %}<a id="btn_login" class="btn btn-primary" href="{% url 'users:login' %}" role="button">Login</a>{% endblock %}
<div class="container" id="login_container">
    <div class="card text-center" id="card">
        <div class="text-center ">
            <div class="card-body">
                <h1 class="h3 mb-3 card-title">Please Login</h1>
                <form action="{% url 'users:login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" id="username_input" name="username" placeholder="Enter Username"><br>
                        <input type="password" name="password" class="form-control" id="password_input" placeholder="Password"><br>
                        <input type="submit" class="form-group btn btn-primary" value="Login" id="btn_submit">
                        <a id="btn_register" class="btn btn-primary" href="{% url 'users:register' %}" role="button">Register</a>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                {% if message %} {{ message }} {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}